## {{ ansible_managed }}

reporting-disabled = false
# RPC service bind address for backup and restore.
bind-address = "127.0.0.1:8088"

[logging]
  level = "{{ influxdb_log_level }}"
  format = "logfmt"

[meta]
  # Controls if this node should run the metaservice and participate in the Raft group
  enabled = true
  # Where the metadata/raft database is stored
  dir = "{{ influxdb_meta_dir }}"
  retention-autocreate = true
  logging-enabled = false

[data]
  enabled = true
  dir = "{{ influxdb_data_dir }}"
  index-version = "inmem"
  wal-dir = "{{ influxdb_wal_dir }}"
  wal-logging-enabled = false
  wal-fsync-delay = "0s"
  query-log-enabled = false
  cache-max-memory-size = {{ influxdb_cache_max_memory_size }}
  cache-snapshot-memory-size = {{ influxdb_cache_snapshot_memory_size }}
  cache-snapshot-write-cold-duration = "10m"
  compact-full-write-cold-duration = "4h"
  data-logging-enabled = false
  max-series-per-database = 1000000
  max-values-per-tag = 100000
  max-concurrent-compactions = 0
  trace-logging-enabled = false


[coordinator]
  write-timeout = "10s"
  max-concurrent-queries = 0
  query-timeout = "0s"
  max-select-point = 0
  max-select-series = 0
  max-select-buckets = 0
  log-queries-after = "0s"

[retention]
  enabled = true
  check-interval = "30m"

[shard-precreation]
  enabled = true
  check-interval = "10m"
  advance-period = "30m"

[monitor]
  store-enabled = true
  store-database = "_internal"
  store-interval = "10s"

#[admin]
#  enabled = true
#  bind-address = ":{{ influxdb_admin_port }}"
#  https-enabled = false
#  https-certificate = "/etc/ssl/influxdb.pem"

[http]
  enabled = true
  bind-address = ":{{ influxdb_port }}"
  auth-enabled = false
  realm = "InfluxDB"
  log-enabled = true
  write-tracing = false
  pprof-enabled = true
  https-enabled = false
  https-certificate = "/etc/ssl/influxdb.pem"
  max-row-limit = 10240
  max-connection-limit = 1024
  unix-socket-enabled = false
  bind-socket = "/var/run/influxdb.sock"
  max-body-size = 25000000
  access-log-path = ""

[ifql]
  enabled = false
  log-enabled = false
  bind-address = ":8082"

[subscriber]
  enabled = true
  http-timeout = "30s"
  insecure-skip-verify = true
  ca-certs = ""
  write-concurrency = 40
  write-buffer-size = 1000

[[graphite]]
  enabled = false

[[collectd]]
  enabled = false

[[opentsdb]]
  enabled = false

[[udp]]
  enabled = false

[continuous_queries]
  log-enabled = false
  enabled = true
  query-stats-enabled = false
  run-interval = "1s"
