[[http]]
name = "http://{{ internal_lb_vip_address }}:{{ influxdb_relay_port  }}" 
bind-addr = "{{ hostvars[inventory_hostname]['ansible_host'] | default('0.0.0.0') }}:{{ influxdb_relay_port  }}" 
output = [
{% set i = 1 %}
{% for host_name in groups['influxdb'] %}
    { name="local{{ i }}", location = "http://{{ hostvars[host_name]['ansible_host'] }}:{{ influxdb_port }}/write" },
{% set i = i + 1 %}
{% endfor %}
]
