export COLLECTD_DEBUG="True"
export COLLECTD_USERNAME="{{ monitoring_user_name }}"
export COLLECTD_PASSWORD="{{ monitoring_user_password }}"
export COLLECTD_TENANT_NAME="{{ monitoring_tenant_name }}"
export COLLECTD_KEYSTONE_URL="{{ keystone_service_internaluri }}/v2.0"
export COLLECTD_REGION="{{ service_region }}"